[submodule "ddn"]
	path = ddn
	url = https://github.com/anucvml/ddn.git
[submodule "pointnet.pytorch"]
	path = pointnet.pytorch
	url = https://github.com/fxia22/pointnet.pytorch.git
[submodule "point-transformer"]
	path = point-transformer
	url = https://github.com/POSTECH-CVLab/point-transformer.git
[submodule "cvxpylayers"]
	path = cvxpylayers
	url = https://github.com/cvxgrp/cvxpylayers.git
