[submodule "ddn"]
	path = ddn
	url = https://github.com/anucvml/ddn.git
[submodule "pointnet.pytorch"]
	path = pointnet.pytorch
	url = https://github.com/fxia22/pointnet.pytorch.git
[submodule "point-transformer"]
	path = point-transformer
	url = https://github.com/POSTECH-CVLab/point-transformer.git
[submodule "cvxpylayers"]
	path = cvxpylayers
	url = https://github.com/cvxgrp/cvxpylayers.git
[submodule "equi-pose"]
	path = equi-pose
	url = https://github.com/dragonlong/equi-pose.git
[submodule "WyPR"]
	path = WyPR
	url = https://github.com/facebookresearch/WyPR.git
[submodule "EPN_PointCloud"]
	path = EPN_PointCloud
	url = https://github.com/nintendops/EPN_PointCloud.git
[submodule "se3-transformer-public"]
	path = se3-transformer-public
	url = https://github.com/FabianFuchsML/se3-transformer-public.git
[submodule "vnn"]
	path = vnn
	url = https://github.com/FlyingGiraffe/vnn.git
[submodule "DeepSDF"]
	path = DeepSDF
	url = https://github.com/facebookresearch/DeepSDF.git
[submodule "Realtime-Scan2CAD"]
	path = Realtime-Scan2CAD
	url = https://github.com/theycallmefm/Realtime-Scan2CAD.git
